#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #333;
}

#modal_trigger {display:block;}

#logout_trigger {display:block;}

.btn {padding:10px 20px; border: 1px solid #b68c2f;}
.btn_red {background: #363636; color: #b68c2f;}

.btn:hover {background: #363636;}
.btn_red:hover {background: #9E9482; color: #c0c0c0;}

a.btn {color: #c0c0c0; text-align: center; text-decoration: none;}
a.btn_red {color: #c0c0c0;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#333; position:relative; padding:10px 20px; border-bottom:1px solid #b68c2f; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background: #b68c2f; cursor: pointer; color:#333; font-size:16px;}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #333; overflow: hidden; border-bottom: 0; transition: 250ms;}
.social_login .icon {display:block; width:35px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center; color: #8E6516;} 
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .login_one .icon {background:#8E6516;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {margin-left: 0.25em; background: #363636; border-left: 1px solid #b68c2f; transition: 250ms;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Auswerter Login Form */
#user_login_aw {display: none;}
#user_login_aw label {display: block; margin-bottom:5px;}
#user_login_aw input[type="text"], #user_login_aw input[type="email"], #user_login_aw input[type="password"] {display: block; width:100%; padding: 10px; border:1px solid #DDD; color: #c0c0c0;}
#user_login_aw input[type="checkbox"] {float:left; margin-right:5px;}
#user_login_aw input[type="checkbox"]+label {float:left;}

#user_login_aw .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* User Zeitnehmer Login Form */
#user_login_ft {display: none;}
#user_login_ft label {display: block; margin-bottom:5px;}
#user_login_ft input[type="text"], #user_login_ft input[type="email"], #user_login_ft input[type="password"] {display: block; width:100%; padding: 10px; border:1px solid #DDD; color: #c0c0c0;}
#user_login_ft input[type="checkbox"] {float:left; margin-right:5px;}
#user_login_ft input[type="checkbox"]+label {float:left;}

#user_login_ft .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* User Teilnehmer Login Form */
#user_login_mt {display: none;}
#user_login_mt label {display: block; margin-bottom:5px;}
#user_login_mt input[type="text"], #user_login_mt input[type="email"], #user_login_mt input[type="password"] {display: block; width:100%; padding: 10px; border:1px solid #DDD; color: #c0c0c0;}
#user_login_mt input[type="checkbox"] {float:left; margin-right:5px;}
#user_login_mt input[type="checkbox"]+label {float:left;}

#user_login_mt .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#908A80;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:100%; padding: 10px; border:1px solid #DDD; color: #c0c0c0;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}