#wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

#main {
    top: 0;
    bottom: 0;
    left: 0;
    right: 17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: auto !important;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 5% 0%
  }
  50% {
    background-position: 96% 100%
  }
  100% {
    background-position: 5% 0%
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 5% 0%
  }
  50% {
    background-position: 96% 100%
  }
  100% {
    background-position: 5% 0%
  }
}

@keyframes gradient {
  0% {
    background-position: 5% 0%
  }
  50% {
    background-position: 96% 100%
  }
  100% {
    background-position: 5% 0%
  }
}

/* Preloader */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333;
	z-index: 999999;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}